.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('src/assets/c-3po.png');
    background-size: cover;
    background-position: center;
}

.calculator-card {
    max-width: 500px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.file-upload-container {
    margin-bottom: 20px;
    text-align: center;
}

.file-upload-container input[type="file"] {
    display: none;
}

.file-upload-container label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.calculate-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 20px;
}

mat-card-footer {
    margin-top: 20px;
    font-weight: bold;
}
